.content {
    display: flex;
    gap:60px;
    flex-direction: column;
}


.movies {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
}

.movies__item {
    width: 100%;
}

.movies__btn {
    padding: 10px;
}

@media screen and (min-width: 520px) {
    .movies {
        gap: 30px;
    }

    .movies__item {
        width: calc(50% - 15px);
    }
}


@media screen and (min-width: 1024px) {
    .movies {
        gap: 37px 30px;
    }

    .movies__item {
        width: calc(33.33% - 20px);
    }
}
