.form {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.form__btn {
    position: absolute;
    top: 6px;
    right: 6px;
    width: 34px;
    height: 34px;
    flex-shrink: 0;
    border-radius: 50%;

    background-image: url("../../images/arrowRightIcon.svg");
    background-repeat: no-repeat;
    background-position: center center;
}

.form__label_checkbox {
    align-self: center;
    display: flex;
    gap: 12px;
    font-size: 11px;
    line-height: 18px; /* 128.571% */
    cursor: pointer;
}

@media screen and (min-width: 520px) {
    .form__label_checkbox {
        font-size: 14px;
    }
}
