.techs {
    padding: 70px 18px;
    background: #202020;
}

.techs__title {
    margin: 0;
}

.techs__technologies-title {
    margin: 0 0 24px;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.2px;
}

.techs__technologies-text {
    margin: 0;
    padding: 21.5px 5px;
    border-radius: 10px;
    background: #303030;
}

.techs__technologies-subtitle {
    margin: 0 auto 50px;
    max-width: 460px;
}

.techs__technologies-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    gap: 10px;
    grid-template-columns: 84px 84px;
    justify-content: center;
}

@media screen and (min-width: 768px) {
    .techs {
        padding: 90px 50px;
    }

    .techs__technologies-title {
        margin-bottom: 32px;
        font-size: 50px;
        line-height: 58px; /* 116% */
        letter-spacing: -2px;
    }

    .techs__technologies-subtitle {
        margin-bottom: 80px
    }

    .techs__technologies-list {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .techs__technologies-item {
        width: 100%;
        max-width: 84px;
    }
}


@media screen and (min-width: 1024px) {
    .techs {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .techs__technologies-subtitle {
        margin-bottom: 100px
    }
    .techs__technologies-item {
        max-width: 90px;
    }
}
