.nav__link {
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 7px;
}

.nav__link_small{
  display: flex;
  align-items: center;
  gap: 7px;
  padding-bottom: 4px;
  font-size: 13px;
  font-weight: 500;
  line-height: 12px; /* 92.308% */
}

@media screen and (min-width: 1024px) {
  .nav__item:first-child {
    display: none;
  }

  .nav__link,
  .nav__link_small{
    font-size: 13px;
    font-weight: 400;
    line-height: 18px; /* 138.462% */
    padding-bottom: 0;
  }
}
